In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

In [2]:
# defino path
path = r'/Users/claudia/Documents/CoastSat-master/Adecuar marea'
path = '/home/daniu/Documentos/CCM/caro_tesis/'

# abro doc de marea del SHN
df = pd.read_csv(path+r'/Marea-MdP-SHN.csv', header=None, names=['year','month','day','hour','tide'])
df.head()

   year  month  day  hour   tide
0  1986      1    4    13  187.0
1  1986      1    4    14  181.0
2  1986      1    4    15  163.0
3  1986      1    4    16  138.0
4  1986      1    4    17  112.0

# Le cambio el formato de fecha

In [3]:
df['date'] = pd.to_datetime(df[["year", "month", "day", "hour"]], utc=True, )

df

       year  month  day  hour   tide                      date
0      1986      1    4    13  187.0 1986-01-04 13:00:00+00:00
1      1986      1    4    14  181.0 1986-01-04 14:00:00+00:00
2      1986      1    4    15  163.0 1986-01-04 15:00:00+00:00
3      1986      1    4    16  138.0 1986-01-04 16:00:00+00:00
4      1986      1    4    17  112.0 1986-01-04 17:00:00+00:00
...     ...    ...  ...   ...    ...                       ...
37119  2020      9   18     9  146.0 2020-09-18 09:00:00+00:00
37120  2020      9   18    10  135.0 2020-09-18 10:00:00+00:00
37121  2020      9   18    11  122.0 2020-09-18 11:00:00+00:00
37122  2020      9   18    12  113.0 2020-09-18 12:00:00+00:00
37123  2020      9   18    13  108.0 2020-09-18 13:00:00+00:00

[37124 rows x 6 columns]

In [4]:
df[['date','tide']].to_csv(path + 'Marea-SHN-mdp-dates-corregidos.csv', index=False)

# Lo llevo al nivel medio

In [ ]:
# hasta aca tenemos el date con el formato que lee el coastsat. 
# Falta hacer lo que dice abajo que es sacado de otro script que no me funca aca
#Saco media para llevar los niveles a 0 (tienen una referencia en la base del mareografo
msl=np.mean(df.tide)
t=df.tide-msl
#paso de cm a m y redondeo a 3 decimales
t=(t/100).round(3)
#convierto t en dataframe y le pongo la variable dates de indice
t=pd.DataFrame(t)
t=t.set_index(a)
t.to_csv('MareaFinal-MdP-SHN.csv')
t.head()

In [ ]:
plt.plot(t)
fig, ax=plt.subplots(1,1,figsize=(12,4))
ax.plot(t)
ax.set(xlabel="tiempo", ylabel="nivel [m]")
ax.grid(color='grey',linestyle=':')
plt.tight_layout()
#save figure
#plt.savefig(path+r'\figura_niveles.png',dpi=300)